{% extends "base.html" %}

{% block content %}

    <section class = "main-add-application-section">
        <div class = "container">
            <p class = "new-entry">NEW ENTRY</p>
            <h1>Add Application</h1>
        </div>
    </section>

    <section class = "add-application-form">
        <div class = "container">
            {% from "_macros.html" import application_form %}
            {{ application_form(url_for('add_application'), 'Save Application') }}
        </div>
    </section>

{% endblock %}