{% extends "base.html" %}

{% block content %}
<main>
    <section class = "main-application-section">
        <div class = "container">
            <p class = "application-amount">? TOTAL</p>
            <div class = "button-group">
                <h1>Applications</h1>
                <a class = "addappbtn" href="{{url_for('add_application') }}">Add application</a>
            </div>
        </div>
    </section>

    <section class = "application-cards">
        <div class = "container">
            <table>
                <thead>
                    <tr class = "red-count">
                        <td scope="col">LOCATION</td>
                    </tr>
                    <tr>
                        <th scope="col">Internship Type</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>Company</td>
                        </tr>
                        <tr class = "table-status">
                            <td>
                                <div class = "status-date">
                                    <p class = "status">STATUS</p>
                                    <p class = "date">DATE</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
            </table>
            <table>
                <thead>
                    <tr class = "red-count">
                        <td scope="col">LOCATION</td>
                    </tr>
                    <tr>
                        <th scope="col">Internship Type</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>Company</td>
                        </tr>
                        <tr class = "table-status">
                            <td>
                                <div class = "status-date">
                                    <p class = "status">STATUS</p>
                                    <p class = "date">DATE</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
            </table>
            <table>
                <thead>
                    <tr class = "red-count">
                        <td scope="col">LOCATION</td>
                    </tr>
                    <tr>
                        <th scope="col">Internship Type</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>Company</td>
                        </tr>
                        <tr class = "table-status">
                            <td>
                                <div class = "status-date">
                                    <p class = "status">STATUS</p>
                                    <p class = "date">DATE</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
            </table>
            <table>
                <thead>
                    <tr class = "red-count">
                        <td scope="col">LOCATION</td>
                    </tr>
                    <tr>
                        <th scope="col">Internship Type</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>Company</td>
                        </tr>
                        <tr class = "table-status">
                            <td>
                                <div class = "status-date">
                                    <p class = "status">STATUS</p>
                                    <p class = "date">DATE</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
            </table>
            <table>
                <thead>
                    <tr class = "red-count">
                        <td scope="col">LOCATION</td>
                    </tr>
                    <tr>
                        <th scope="col">Internship Type</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>Company</td>
                        </tr>
                        <tr class = "table-status">
                            <td>
                                <div class = "status-date">
                                    <p class = "status">STATUS</p>
                                    <p class = "date">DATE</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
            </table>
            <table>
                <thead>
                    <tr class = "red-count">
                        <td scope="col">LOCATION</td>
                    </tr>
                    <tr>
                        <th scope="col">Internship Type</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>Company</td>
                        </tr>
                        <tr class = "table-status">
                            <td>
                                <div class = "status-date">
                                    <p class = "status">STATUS</p>
                                    <p class = "date">DATE</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </section>
</main>

{%endblock %}