{% extends "base.html" %}

{% block content %}
<main>
    <section class = "main-application-section">
        <div class = "container">
            <p class = "application-amount">{{ applications|length }} TOTAL</p>
            <div class = "button-group">
                <h1>Applications</h1>
                <a class = "addappbtn" href="{{url_for('add_application') }}">Add application</a>
            </div>
        </div>
    </section>

    <section class = "application-cards">
        <div class = "container">
            {% for card in applications %}
            <table>
                <thead>
                    <tr class = "red-count">
                        <td scope="col">{{card.location}}</td>
                    </tr>
                    <tr>
                        <th scope="col">{{card.role}}</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>{{card.company}}</td>
                        </tr>
                        <tr class = "table-status">
                            <td>
                                <div class = "status-date">
                                    <p class = "status">{{card.status}}</p>
                                    <p class = "date">{{card.deadline}}</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
            </table>
            {% else %}
                <div class = "empty-applications">
                        <h1>No applications yet</h1>
                        <p>Once you add a role you're tracking, it'll show up here with its status and deadline.</p>
                        <a class = "addappbtn" href="{{url_for('add_application') }}">Add your first application</a>
                </div>
            {% endfor %}
        </div>
    </section>
</main>

{%endblock %}