<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InternOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <h1>InternOS</h1>
        <ul>
            <li><a href="{{url_for('home') }}">Home</a></li>
            <li><a href="{{url_for('applications') }}">Applications</a></li>
            <li><a href="{{url_for('dashboard') }}">Dashboard</a></li>
            <li><a class="addappbtn" href="{{url_for('add_application') }}">Add Application</a></li>
        </ul>
    </nav>
        {% block content %}
        {% endblock %}
        <section class = "footer">
            <footer>InternOS</footer>
        </section>
</body>
</html>