{% extends "base.html" %}

{% block content %}

    <section class = "main-add-application-section">
        <div class = "container">
            <p class = "new-entry">EDIT ENTRY</p>
            <h1>Edit Application</h1>
        </div>
    </section>

    <section class = "add-application-form">
        <div class = "container">
            {% from "_macros.html" import application_form %}
            {{ application_form(url_for('edit_application', id=application.id), 'Save changes', application) }}
        </div>
    </section>

{% endblock %}